<!doctype html>
<!--
	Template:	 Unika - Responsive One Page HTML5 Template
	Author:		 imransdesign.com
	URL:		 http://imransdesign.com/
    Designed By: https://www.behance.net/poljakova
	Version:	1.0	
-->
<html lang="en-US">

	<head>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.png"/>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>HK - Serviços terceirizados</title>
		<meta name="description" content="HK - Serviços terceirizados">
		<meta name="keywords" content="HK Serviços terceirizados, terceirização de mão de obra" />
		<meta name="author" content="Leonardo">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="inc/animations/css/animate.min.css">
		<link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css"> <!-- Font Icons -->
		<link rel="stylesheet" href="inc/owl-carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="inc/owl-carousel/css/owl.theme.css">

		<!-- Theme CSS -->
        <link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/mobile.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skin/cool-gray.css">
        <!-- <link rel="stylesheet" href="css/skin/ice-blue.css"> -->
        <!-- <link rel="stylesheet" href="css/skin/summer-orange.css"> -->
        <!-- <link rel="stylesheet" href="css/skin/fresh-lime.css"> -->
        <!-- <link rel="stylesheet" href="css/skin/night-purple.css"> -->
        
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

    <body  ng-app="store">
     <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container"  ng-controller="HomeCtrl">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="body" ng-click="voltar()">HK - Serviços terceirizados</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="body" ng-click="voltar()">Início</a></li>
                            <li><a class="page-scroll" href="#about-section" ng-hide="ocultarEmpresa" ng-click="voltar()">A empresa</a></li>
                            <li><a class="page-scroll" href="#servicos">Serviços</a></li>
                            <!--
                            <li><a class="page-scroll" href="#portfolio-section">Works</a></li>
                            <li><a class="page-scroll" href="#team-section">Team</a></li>
                            <li><a class="page-scroll" href="#prices-section">Prices</a></li>
                            -->
                            <li><a class="page-scroll" href="#contact-section">Contato</a></li>
                            <li><a class="page-scroll" href="https://www.hkservicos.com.br">Intranet Hk Serviços</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->
            
        	<!-- Begin text carousel intro section -->
			<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/slider-bg3.jpg);">
				
				<div class="container">
					<div class="caption text-center text-white" data-stellar-ratio="0.7">

						<div id="owl-intro-text" class="owl-carousel">
							<div class="item">
								<h1>Evite problemas, terceirize !</h1>
								<p>Somos a HK Serviços, nosso serviço, seu negócio</p>
                                <div class="extra-space-l"></div>
								<!-- <a class="btn btn-blank" href="#contact-section" role="button">Saiba mais!</a> -->
							</div>
							<div class="item">
								<h1>Conheça nossas áreas de atuação</h1>
								<p></p>
								<div class="extra-space-l"></div>
								<!-- <a class="btn btn-blank" href="#contact-section" role="button">Saiba mais!</a> -->
							</div>
							<div class="item">
								<h1>Tabalhamos com tecnologia</h1>
								<p>Para ter mais agilidade utilizamos e comercializamos produtos e serviços de T.I </p>
								<div class="extra-space-l"></div>
								<!-- <a class="btn btn-blank" href="#contact-section" role="button">Saiba mais!</a> -->
							</div>
						</div>

					</div> <!-- /.caption -->
				</div> <!-- /.container -->

			</section>
			<!-- End text carousel intro section -->
			
			
			<!-- Scripts -->
		    <script src="inc/jquery/jquery-1.11.1.min.js"></script>
		    <script src="inc/bootstrap/js/bootstrap.min.js"></script>
		    <script src="inc/owl-carousel/js/owl.carousel.min.js"></script>
		    <script src="inc/stellar/js/jquery.stellar.min.js"></script>
		    <script src="inc/animations/js/wow.min.js"></script>
		    <script src="inc/waypoints.min.js"></script>
		    <script src="inc/isotope.pkgd.min.js"></script>
		    <script src="inc/classie.js"></script>
		    <script src="inc/jquery.easing.min.js"></script>
		    <script src="inc/jquery.counterup.min.js"></script>
		    <script src="inc/smoothscroll.js"></script>
		    <!-- <script src="inc/angular.js"></script> -->
		    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
		    <script src="inc/angular-route.js"></script>
		    <script src="inc/app.js"></script>
		    <script src="inc/angular-recaptcha.min.js"></script>
		    
		    <!-- Google Analitcs e captcha -->
		    <script src="inc/google.analitics.js"></script>
		    <!-- <script src='https://www.google.com/recaptcha/api.js'></script>  -->
		    
		    <!-- Views -->
		    <script src="views/home/home-controllers.js"></script>
		    <script src="views/servicos/servicos-controllers.js"></script>
			<script src="views/solucoes/solucoes-controllers.js"></script>
			<script src="views/trabalhe/trabalhe-controllers.js"></script>
			
			<!-- Tema -->
	        <script src="inc/theme.js"></script>
			<div ng-view></div>

    </body> 
</html>