<meta charset="utf-8">
<div ng-controller="TrabalheCtrl as trab" ng-init="init()"></div>
<section id="about-section" class="page bg-style1">
<!-- Begin page header-->
<div class="page-header-wrapper" ng-hide='emailEnviado'>
	<div class="container">
		<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
			<h2>Preencha o formulário</h2>
				<div class="devider"></div>
			<p class="subtitle">Queremos saber um pouco sobre suas qualificações.</p>
		</div>
	</div>
</div>

<div class="page-header-wrapper" ng-show="emailEnviado">
	<div class="container">
		<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
			<h2>Muito obrigado!</h2>
		</div>
	</div>
</div>

<!-- End page header-->
</section>

<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);" ng-hide="emailEnviado">
	<div class="cover"></div>
	
    <div class="contact wow bounceInRight" data-wow-delay="0.4s" >
        <div class="container">
            <div class="row">
		    <div class="contact-form">
				<form role="form">
				    <div class="form-group">
				    	<h5> Nome :</h5> 
				        <input type="text" class="form-control input-lg" required ng-model="trab.nome">
				    </div>
				    <div class="form-group">
					    <h5> Email :</h5>
					    <input type="email" class="form-control input-lg" data-title="Select Time" required ng-model="trab.email">
				    </div>
				    <div class="form-group">
					    <h5> Telefone :</h5>
					    <input type="text" class="form-control input-lg" required ng-model="trab.tel">
					</div>
					<div class="form-group">
						<h5> Curriculo :</h5>
						<input type="file" nv-file-select="" required uploader="uploader" />
					</div>
					<div class="form-group">
                		<div vc-recaptcha data-theme="dark" key="trab.publicKey"></div>
                    </div>
					<button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s" ng-click="enviarEmail()">Enviar</button>
				</form>
			</div>
			</div>
		</div>
	</div>    
</section>
<section id="counter-section" ng-show="emailEnviado">                                  
	<div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/counter-bg.jpg);">
		<div class="cover"></div>
		<!-- Begin page header-->
		<div class="page-header-wrapper">
			<div class="container">
				<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
					<div class="devider"></div>
					<p class="subtitle">Vamos analizar seu curriculo e lhe convidaremos para uma entrevista, assim que tivermos uma vaga!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Services -->
<!-- Begin footer -->
<footer class="text-off-white">
    
    <div class="footer">
        <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
            <p class="copyright">Todos os direitos reservados. &copy; 2016 - Desenvolvido por <a  class="theme-author">HK Serviços Terceirizados</a></p>
        </div>
    </div>

</footer>
<!-- End footer -->

<a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->