<meta charset="utf-8">
<!-- Begin Services -->
<section></section>
<div>
	<br>
	<br>
</div>
<section id="servicos" class="page text-center">
    <!-- Begin page header-->
	<div ng-controller="ServicosCtrl as servicos" ng-init="init()"></div>
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Serviços de terceirização</h2>
                <div class="devider"></div>
                <p class="subtitle">É Nossa especialidade, são muitas opções confira</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <!-- Begin roatet box-2 -->
    <div class="rotate-box-2-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <span class="rotate-box-icon"><i class="fa fa-star"></i></span>
                        <div class="rotate-box-info">
                            <h4>Recepcionsta</h4>
                            <p>Por estar diretamente ligada a imagem da empresa, a recepção deve estar sempre apresentável, recebendo bem todos os visitantes ou membros, por isto nossos profissionais atuam de forma cortês e buscando sempre preservar as instalações.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                        <span class="rotate-box-icon"><i class="fa fa-phone"></i></span>
                        <div class="rotate-box-info">
                            <h4>Telefonista</h4>
                            <p>Seu negócio é bem popular, recebe ou realiza muitas ligações, que tal colocar alguem para te ajudar com essas tarefas?
                            Pensando nisso, temos profissionais aptos, com bastante experiência, que auxiliarão suas demandas telefônicas.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                        <span class="rotate-box-icon"><i class="fa fa-car"></i></span>
                        <div class="rotate-box-info">
                            <h4>Motorista</h4>
                            <p>Nosso país possui distâncias continentais, mas tais distâncias não são tão ruins se comparadas ao trânsito das grandes cidades por isso, temos o serviço de motorista, para dar total apoio para comitivas, excursões, organizações públicas e privadas.</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                        <span class="rotate-box-icon"><i class="fa fa-cogs"></i></span>
                        <div class="rotate-box-info">
                            <h4>Serviços Gerais</h4>
                            <p>Com a evolução global, as coisas se tornaram mais rápidas, com isso passamos a ter muitas tarefas diárias e por isso muito optam por terceirizar serviços gerais de limpeza e conservação, temos boas referências e bons profissionais, peça um orçamento agora mesmo.</p>
                        </div>
                    </a>
                </div>
                
            </div> <!-- /.row -->
        </div> <!-- /.container -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <span class="rotate-box-icon"><i class="fa fa-archive"></i></span>
                        <div class="rotate-box-info">
                            <h4>Secretária</h4>
                            <p>Peça fundamental num escritório, o secretáriado é o principal auxiliador na execução da atividade principal de qualquer negócio ou organização. Sabemos bem o valor que este profissional tem e por isso temos sempre procurado pelos melhores, com objetivo de melhorar cada vez mais a satisfação de nossos clientes.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                        <span class="rotate-box-icon"><i class="fa fa-key"></i></span>
                        <div class="rotate-box-info">
                            <h4>Porteiro</h4>
                            <p>Muitas vezes acaba sendo confundido com vigia por atuar de forma semelhante. Nós da HK contamos com este excelente recurso, além de auxiliar no controle de acesso o porteiro também atua como um vigia, especialmente onde existe um CFTV, o que permite ao funcionário ter olhos por toda as dependências da organização.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                        <span class="rotate-box-icon"><i class="fa fa-building"></i></span>
                        <div class="rotate-box-info">
                            <h4>Vigia</h4>
                            <p>Nosso país possui distâncias continentais, mas tais distâncias não são tão ruins se comparadas ao trânsito das grandes cidades por isso, temos o serviço de motorista, para dar total apoio para comitivas, excursões, organizações públicas e privadas.</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                        <span class="rotate-box-icon"><i class="fa fa-coffee"></i></span>
                        <div class="rotate-box-info">
                            <h4>Copeira</h4>
                            <p>Toda a equipe da HK aprecia um bom café, acreditamos que algumas pausas diárias para uma dose dessa bebida ajuda a clarear as idéias e falar de negócios. Nosso tempo de mercado terceirizando este serviço nos permite dizer que nossos funcionários fazem um ótimo café!</p>
                        </div>
                    </a>
                </div>
                
            </div> <!-- /.row -->
        </div>

        <div class="container">
            <!-- Cta Button -->
            <div class="extra-space-l"></div>
            <div class="text-center">
        		<a class="btn btn-default btn-lg-xl" href="#/solucoes" role="button">Confira os serviços de TI</a>
            </div>
        </div> <!-- /.container -->                       
    </div>
    <!-- End rotate-box-2 -->
</section>
<!-- End Services -->

<!-- Begin contact section -->
<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);">
<div class="cover"></div>

     <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Contato</h2>
                <div class="devider"></div>
                <p class="subtitle">Fale conosco</p>
            </div>
        </div>
    </div>
    <!-- End page header-->
    
     <div class="contact wow bounceInRight" data-wow-delay="0.4s"  ng-hide='servicos.emailEnviado'>
     <div class="container">
         <div class="row">
         <div class="col-sm-3"></div>
             <div class="col-sm-6">
                 <div class="contact-form">
                     <h4>Preencha os campos</h4>
                     <form role="form" ng-submit="servicos.enviarEmail()">
                         <div class="form-group">
                         	<h5> Nome :</h5> 
                             <input type="text" class="form-control input-lg" required ng-model="servicos.nome">
                         </div>
                         <div class="form-group">
                             <h5> Email :</h5>
                             <input type="email" class="form-control input-lg" data-title="Select Time" required ng-model="servicos.email">
                         </div>
                         <div class="form-group">
                         <h5> Assunto :</h5>
                         <select id="inTopicoOcr" class="form-control input-lg" label="Assunto" required ng-model="servicos.assunto">
							<option value="" class="text-center"><a>Selecione</a></option>
							<option value="suporte" class="text-center"><a>Recepcionista</a></option>
							<option value="desenvolvimento" class="text-center">Telefonista</option>
							<option value="hospedagem" class="text-center">Motorista</option>
							<option value="seguranca" class="text-center">Serviços Gerais</option>
							<option value="redes" class="text-center">Secretária</option>
							<option value="servidores" class="text-center">Porteiro</option>
							<option value="cftv" class="text-center">Vigia</option>
							<option value="telefones" class="text-center">Copeira</option>
							<option value="outros" class="text-center">Outros</option>
						 </select>
						 </div>
                         <div class="form-group">
                         	<h5> Mensagem :</h5>
                             <textarea class="form-control input-lg" rows="5" required ng-model="servicos.mensagem"></textarea>
                         </div>
                         <div>
                     	 	<div vc-recaptcha data-theme="dark" key="servicos.publicKey"></div>
                         </div>
                         <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Enviar</button>
                     </form>
                 </div>  
             </div>
           <div class="col-sm-3"></div>                                                     
         </div> <!-- /.row -->
     </div> <!-- /.container -->
 	 </div>
 	 
 </div>
</section>
<!-- End contact section -->
             
<!-- Begin footer -->
<footer class="text-off-white">
    
   <div class="footer">
       <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
           <p class="copyright">Todos os direitos reservados. &copy; 2016 - Desenvolvido por <a  class="theme-author">HK Serviços Terceirizados</a></p>
       </div>
   </div>

</footer>
<!-- End footer -->

