<meta charset="utf-8">

<div data-spy="scroll" data-target="#main-navbar" ng-init="init()"></div>
    	<div class="body" >
        
            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>HK Serviços Terceirizados</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Um pouco sobre nós</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-crosshairs"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Objetivos</h4>
                                        <p>Proporcionar apoio e facilitar a administração do seu negócio, gerindo os recursos físicos, humanos ou computacionais, com bastante eficiência, agilidade e profissionais bem capacitados.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-wrench"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Nossos serviços</h4>
                                        <p>Contando com profissionais de diversas áreas, proporcionamos aos nossos clientes apoio nos serviços de, copeiragem, recepção, telefonista, motorista, jardinagem entre diversos outros, confira.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-shield"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Segurança</h4>
                                        <p>Proteja seu negócio, trabalhamos com a instalação de alarmes, CFTV, cercas elétricas entre outros. Não espere o pior acontecer garanta a segurança do seu patrimônio.</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-laptop"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Tecnologia da Informação</h4>
                                        <p>Na era da modernidade, as empresas que não investem em tecnologia ficam pra trás em relação a concorrência e cada vez mais perdem espaço no mercado atual. Pensado nisso trabalhamos com as soluções de TI específicas para o seu negócio.</p>
                                    </div>
                                </a>
                            </div>
                            
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->
                
                <div class="extra-space-l"></div>
                
                <!-- Begin page header--> 
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h4>Seguimentos</h4>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <!-- Begin Our Skills -->
                <div class="our-skills">
                    <div class="container">
                        <div class="row">
                        
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Terceirização</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Tecnologia da Informação</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Segurança da informação</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Diversos</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End Our Skill -->
          </section>
          <!-- End about section -->

          <!-- Begin counter up -->
            <section id="counter-section">                                  
                <div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/counter-bg.jpg);">
                    <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Alguns números</h2>
                                <div class="devider"></div>
                                <p class="subtitle">Para te convencer a fechar negócio conosco</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
                    <div class="container">

                        <div class="row">

                            <div class="fact text-center col-md-3 col-sm-6">
                                <div class="fact-inner">
                                    <i class="fa fa-users fa-3x"></i>
                                    <div class="extra-space-l"></div>
                                    <span class="counter">97</span>
                                    <p class="lead">É o número de pessoas que nos tornam o que somos </p>
                                </div>
                            </div>

                            <div class="fact text-center col-md-3 col-sm-6">
                                <div class="fact-inner">
                                    <i class="fa fa-puzzle-piece fa-3x"></i>
                                    <div class="extra-space-l"></div>
                                    <span class="counter">200</span>
                                    <p class="lead">Contratos firmados</p>
                                </div>
                            </div>

                            <div class="fact text-center col-md-3 col-sm-6">
                                <div class="fact-inner">
                                    <i class="fa fa-exchange fa-3x"></i>
                                    <div class="extra-space-l"></div>
                                    <span class="counter">10</span>
                                    <p class="lead">Parceirias concretizadas</p>
                                </div>
                            </div>

                            <div class="fact last text-center col-md-3 col-sm-6">
                                <div class="fact-inner">
                                    <i class="fa fa-clock-o fa-3x"></i>
                                    <div class="extra-space-l"></div>
                                    <span class="counter">{{idade}}</span>
                                    <p class="lead">Anos</p>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
            </section>
            <!-- End counter up -->            

            <!-- Begin Services -->
            <section id="servicos" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Serviços de terceirização</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Trabalhamos com vários tipos de serviços, além desses.</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
            
                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-star"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Recepcionsta</h4>
                                        <p>É imagem da empresa portanto, a recepção deve estar sempre apresentável, em condições ideais, recebendo bem todos os visitantes ou membros por isto,
                                         nossos profissionais atuam de forma cortês buscando sempre preservar as instalações, a apresentação pessoal e a boa educação para obter bons resultados no tocante à apresentação do negócio.</p>
                                    </div>
                                </a>
                            </div>
            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-phone"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Telefonista</h4>
                                        <p>Seu negócio é bem popular, recebe ou realiza muitas ligações, que tal colocar alguém para te ajudar com essas tarefas?
                                        Pensando nisso, conte com a gente temos bastante experiência, e vamos auxiliar suas demandas telefônicas.</p>
                                    </div>
                                </a>
                            </div>
            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-car"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Motorista</h4>
                                        <p>Nosso país possui distâncias continentais, mas tais distâncias não são tão ruins se comparadas ao trânsito das grandes cidades por isso, temos o serviço de motorista, para dar total apoio para comitivas, excursões, organizações públicas e privadas.</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-cogs"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Serviços Gerais</h4>
                                        <p>Com a evolução global, as coisas se tornaram mais rápidas, com isso passamos a ter muitas tarefas diárias e por isso muito optam por terceirizar serviços gerais de limpeza e conservação, temos boas referências e bons profissionais, peça um orçamento agora mesmo.</p>
                                    </div>
                                </a>
                            </div>
                            
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                    
                    <div class="container">
                        <!-- Cta Button -->
                        <div class="extra-space-l"></div>
                        <div class="text-center">
                    		<a class="btn btn-default btn-lg-xl" href="#servicos" ng-click="servicos()" role="button">Todos os Serviços</a>
                        </div>
                    </div> <!-- /.container -->                       
                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->
              
              
              
            <!-- Begin Services -->
            <section id="solucoes" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Tecnologia da Informação</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Este é o para muitos negócios o pilar principal, modernize sua organização que o retorno é garantido.</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
            
                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-desktop"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Suporte Técnico</h4>
                                        <p>Montamos, configuramos, recuperamos e vendemos computadores, peças e acessórios. Tenha uma máquina feita com especificações voltadas para o seu negócio e economize com manutenção ou trocas de peças,
                                         mas caso precise consertar seus equipamentos solicite um orçamento do seu computador ou notebook.</p>
                                    </div>
                                </a>
                            </div>
            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-globe"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Desenvolvimento WEB</h4>
                                        <p>Crie um site para o seu negócio com quem entende do assunto, ou que tal criar uma aplicação para gerir algum recurso como controle de pessoal ou uma outra tarefa.
                                        Atualmente 70% dos produtos são comercializados ou vendidos online e muitas pessoas antes de fecharem um negócio ou realizarem uma compra pesquisam informações na web.
                                        Impulsione suas vendas, consulte-nos e venda online!.</p>
                                    </div>
                                </a>
                            </div>
            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-cloud"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Hospedagem WEB</h4>
                                        <p>Hospede seu site conosco, e ganhe contas de email e backup semanal. Nossos servidores possuem mecanismos de segurança e preços acessiveis confira.</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-lock"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Segurança</h4>
                                        <p>Proteja sua empresa! Investir em segurança é fundamental, garanta que os serviços vitais ao funcionamento do seu negócio continuem assim. 
                                        Fazemos todo o projeto da segurança, desde as instalções a proteção dos sistemas corporativos por meio de firewalls de segurança, controles de rede, protocolos de navegação segura entre outros.</p>
                                    </div>
                                </a>
                            </div>
                            
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                    
                    <div class="container">
                        <!-- Cta Button -->
                        <div class="extra-space-l"></div>
                        <div class="text-center">
                            <a class="btn btn-default btn-lg-xl" href="#/solucoes" role="button">Todos os serviços de TI</a>
                        </div>
                    </div> <!-- /.container -->                       
                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->
              
              
            <!-- Begin testimonials -->
            <section id="testimonial-section">
                <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/testimonial-bg.jpg);">
                    <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Parceiros</h2>
                                <div class="devider"></div>
                                <div class="container">
			                    <div id="owl-partners">
			                        <a href="http://www.brasvet.com.br" target="_blank"><img src="img/partners/1.png" alt="img"></a>
			                        <!-- <img src="img/partners/crm.jpg" alt="img"> -->
			                        
			                    </div>
                            </div>
                        </div>
                    </div>
               		</div>
                </div>
                
            </section>
            <!-- End testimonials -->
                

                
                
            <!-- 
            <section id="portfolio-section" class="page bg-style1">
            	<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio">
                                
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                            <h2>Our Works</h2>
                                            <div class="devider"></div>
                                            <p class="subtitle">What we are proud of</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="portfoloi_content_area" >
                                    <div class="portfolio_menu" id="filters">
                                        <ul>
                                            <li class="active_prot_menu"><a href="#porfolio_menu" data-filter="*">all</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".websites">websites</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".webDesign" >web design</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".appsDevelopment">apps development</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".GraphicDesign">graphic design</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".responsive">responsive</a></li>
                                        </ul>
                                    </div>
                                    <div class="portfolio_content">
                                        <div class="row"  id="portfolio">
                                            <div class="col-xs-12 col-sm-4 appsDevelopment">
                                                <div class="portfolio_single_content">
                                                    <img src="img/portfolio/p1.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Skull Awesome</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 GraphicDesign">
                                                <div class="portfolio_single_content">
                                                    <img src="img/portfolio/p2.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Photo Frame</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 responsive">
                                                <div class="portfolio_single_content">
                                                    <img src="img/portfolio/p3.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Hand Shots</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 webDesign websites">
                                                <div class="portfolio_single_content">
                                                    <img src="img/portfolio/p4.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Night Abstract</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 appsDevelopment websites">
                                                <div class="portfolio_single_content">
                                                    <img src="img//portfolio/p5.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Joy of Independence</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 GraphicDesign">
                                                <div class="portfolio_single_content">
                                                    <img src="img/portfolio/p6.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Night Crawlers</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 responsive">
                                                <div class="portfolio_single_content">
                                                    <img src="img/portfolio/p7.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Last Motel</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 GraphicDesign">
                                                <div class="portfolio_single_content">
                                                    <img src="img/portfolio/p8.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Dirk Road</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 websites">
                                                <div class="portfolio_single_content">
                                                    <img src="img/portfolio/p9.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Old is Gold</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            -->
                   
            <!-- Begin team-->
            <!-- 
            <section id="team-section" class="page" ng-hide="true">
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Nossa equipe</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Meat our experts</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="team-items">
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.2s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.3s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.4s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.5s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.6s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.7s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.8s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>  
                    </div>
                </div>

            </section>
            -->
           
            <!-- 
            <section id="partners-section">
                
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Parceiros</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Recomendamos essas empresas!</p>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div id="owl-partners" class="owl-carousel">
                        <img src="img/partners/crm.jpg" alt="img">
                        <img src="img/partners/2.png" alt="img">
                        <img src="img/partners/3.png" alt="img">
                        
                        <img src="img/partners/4.png" alt="img">
                        <img src="img/partners/5.png" alt="img">
                        <img src="img/partners/6.png" alt="img">
                        <img src="img/partners/7.png" alt="img">
                        
                    </div>
                </div>
            </section>
            -->
                
            <!-- Begin social section -->
            <section id="social-section">
            
                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Junte-se a nós</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Siga-nos em nossas páginas sociais</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <div class="container">
                    <ul class="social-list">
                        <li> <a href="http://www.facebook.com.br/hkservicos" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
                        <li> <a href="https://twitter.com/HkServicos" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
                        <!-- <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li> -->
                    </ul>
                </div>
                
            </section>
            <!-- End social section -->
                
            <!-- Begin contact section -->
            <section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);">
            <div class="cover"></div>
            
                 <!-- Begin page header-->
                <div class="page-header-wrapper" ng-hide='emailEnviado'>
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contato</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Fale conosco</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                        <div class="row">
                        
                            <div class="col-sm-6" ng-hide='emailEnviado'>
                                <div class="contact-info">
                                    <h4>Nosso endereço</h4>
                                    <ul class="contact-address">
                                        <li><a href="https://www.google.com.br/maps/dir/''/hk+servi%C3%A7os/@-15.8436788,-47.9939582,14.75z/data=!4m8!4m7!1m0!1m5!1m1!1s0x935a2e1f04b528d9:0x24a318a3a744e5a4!2m2!1d-47.9833132!2d-15.8441827"
                                        target="_blank">
                                        <i class="fa fa-map-marker fa-lg"></i>&nbsp;QE 40 Conjunto I Lote 19,<br><br> HK Serviços, CEP: 71070-092</a></li>
                                        <h4>Contatos</h4>
                                        <li><a href="callto://+5506135687001"><i class="fa fa-phone"></i>&nbsp;(61)3568-7001,</a><a href="callto://+55061982067448"> (61)98206-7448</a> <a href="callto://+55061984677001">ou (61)98467-7001</a></li>
                                        <li><a href="mailto:hk.terceirizacao@yahoo.com.br?Subject=Contato%20do%20site"><i class="fa fa-envelope"></i> hk.terceirizacao@yahoo.com.br</a></li>
                                        <li><a href="mailto:comercial@hkservicos.com.br?Subject=Contato%20do%20site"><i class="fa fa-envelope"></i> comercial@hkservicos.com.br</a></li>
                                        <li><a href="mailto:suporte@hkservicos.com.br?Subject=Contato%20do%20site"><i class="fa fa-envelope"></i> suporte@hkservicos.com.br</a></li>
                                        <h4>Venha fazer parte da nossa equipe!</h4>
                                        <li><a href="#trabalhe" ng-click="trabalhe()"><i class="fa fa-plus-circle"></i> Trabalhe Conosco</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!-- Begin page header-->
					        <div class="page-header-wrapper" ng-show='emailEnviado'>
								<div class="container">
								    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
								        <h2>Recebemos sua solicitação, aguarde nosso contato.</h2>
								        <div class="devider"></div>
								        <p class="subtitle">Obrigado.</p>
								    </div>
								</div>
						    </div>
                        	
                        	<div class="col-sm-6" ng-controller="HomeCtrl as recap">
					            <div class="contact-form" ng-hide='emailEnviado'>
                                    <h4>Escreva para gente</h4>
						            <form name="recap.signupForm" ng-submit="recap.enviarEmail()">
						                <div class="form-group">
						                    <label>Name:</label>
						                    <input type="text" class="form-control input-lg" placeholder="Digite seu nome" required ng-model="recap.nome">
						                </div>
						                <div class="form-group">
						                    <label>Email:</label>
						                    <input type="email" class="form-control input-lg" placeholder="exemplo@exemplo" required ng-model="recap.email">
						                </div>
						                <div class="form-group">
	                                        <label>Assunto:</label>
	                                        <input type="text" class="form-control input-lg" placeholder="Assunto" required ng-model="recap.assunto">
	                                    </div>
	                                    <div class="form-group">
	                                        <label>Mensagem:</label>
	                                        <textarea class="form-control input-lg" rows="5" placeholder="Digite sua Mensagem" required ng-model="recap.mensagem"></textarea>
	                       	            </div>
						                <div class="form-group">
		                               		<div vc-recaptcha data-theme="dark" key="recap.publicKey"></div>
	                                    </div>
						                <button type="submit" class="btn btn-default">Submit</button>
						            </form>
						       	</div>
					        </div>
                        	
                        	<!-- 
                            <div class="col-sm-6">
                                <div class="contact-form" ng-hide='emailEnviado'>
                                    <h4>Escreva para gente</h4>
                                    <form role="form" action="javascript:alert(grecaptcha.getResponse(widgetId1));">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" placeholder="Seu nome" required ng-model="formData.nome">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control input-lg" placeholder="E-mail" required ng-model="formData.email">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" placeholder="Assunto" required ng-model="formData.assunto">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control input-lg" rows="5" placeholder="Mensagem" required ng-model="formData.mensagem"></textarea>
                                        </div>
                                        <div class="form-group">
	                                        <div id="example1" class="g-recaptcha" data-size="normal" data-theme="dark" data-sitekey="6LdFPiYTAAAAAG-kVScDTAe5b_WTIdnDp23-DM_e"></div>
                                        </div>
                                        <button type="submit" value="getResponse" class="btn wow bounceInRight" data-wow-delay="0.8s" ng-click="enviarEmail()">Enviar</button>
                                    </form>
                                </div>  
                            </div>
                            -->                                                    
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
            </section>
            <!-- End contact section -->
                
            <!-- Begin footer -->
            <footer class="text-off-white">
                
                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Todos os direitos reservados. &copy; 2016 - Desenvolvido por<a  class="theme-author"> HK Serviços Terceirizados</a></p>
                    </div>
                </div>

            </footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
                                              
        </div><!-- body ends -->