<meta charset="utf-8">
<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/slider-bg.jpg);">
	
	<div class="container" ng-controller='SolucoesCtrl as solucoes' ng-init='init()'>
		<div class="caption text-center text-white" data-stellar-ratio="0.7" >

			<div id="owl-intro-text" class="owl-carousel">
				<div class="item">
					<h1>Evite problemas, terceirize !</h1>
					<p>Somos a HK Serviços, nosso serviço, seu negócio</p>
                             <div class="extra-space-l"></div>
					<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">Saiba mais!</a>
				</div>
				<div class="item">
					<h1>Conheça nossas áreas de atuação</h1>
					<p></p>
					<div class="extra-space-l"></div>
					<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">Saiba mais!</a>
				</div>
				<div class="item">
					<h1>Tabalhamos com tecnologia</h1>
					<p>Para ter mais agilidade utilizamos e comercializamos produtos e serviços de T.I </p>
					<div class="extra-space-l"></div>
					<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">Saiba mais!</a>
				</div>
			</div>

		</div> 
	</div> 

</section>
<section id="services-section" class="page text-center">
<div></div>
</section>
            

<!-- Begin Services -->
<section id="" class="page text-center">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Tecnologia da Informação</h2>
                <div class="devider"></div>
                <p class="subtitle">Tecnologia é o pilar de qualquer organização, invista os ativos da sua organização que o retorno é garantido.</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <!-- Begin roatet box-2 -->
    <div class="rotate-box-2-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a  class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <span class="rotate-box-icon"><i class="fa fa-desktop"></i></span>
                        <div class="rotate-box-info">
                            <h4>Suporte Técnico</h4>
                            <p>Montamos, configuramos, recuperamos e vendemos computadores e peças. Tenha uma máquina feita com especificações voltadas para o seu negócio e economize com manutenção ou troca de peças, mas caso precise consertar seus equipamentos solicite um orçamento do seu computador ou notebook.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                        <span class="rotate-box-icon"><i class="fa fa-globe"></i></span>
                        <div class="rotate-box-info">
                            <h4>Desenvolvimento WEB</h4>
                            <p>Crie um site para o seu negócio com quem entende do assunto, ou crie uma aplicação para gerir algum recurso ou tarefa, atualmente 70% dos produtos estão sendo vendidos online e muitas pessoas antes de fecharem um negócio ou realizarem uma compra pesquisam sobre na web, solicite um orçamento e impulsione suas vendas.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                        <span class="rotate-box-icon"><i class="fa fa-cloud"></i></span>
                        <div class="rotate-box-info">
                            <h4>Hospedagem WEB</h4>
                            <p>Hospede seu site conosco, e ganhe contas de email e backup semanal. Nossos servidores possuem mecanismos de segurança e preços acessiveis confira.</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                        <span class="rotate-box-icon"><i class="fa fa-lock"></i></span>
                        <div class="rotate-box-info">
                            <h4>Segurança</h4>
                            <p>Proteja sua empresa! Investir em segurança é fundamental, garanta que os serviços vitais ao funcionamento do seu negócio continuem assim. Fazemos todo o projeto da segurança, desde as instalções a proteção dos sistemas corporativos por meio de firewalls de segurança, controles de rede, protocolos de navegação segura entre outros.</p>
                        </div>
                    </a>
                </div>
                
            </div> <!-- /.row -->
        </div> <!-- /.container -->


        <div class="rotate-box-2-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a  class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <span class="rotate-box-icon"><i class="fa fa-sitemap"></i></span>
                        <div class="rotate-box-info">
                            <h4>Redes de computadores</h4>
                            <p> Fazemos o projeto, Montamos, configuramos, e aprimoramos sua rede cabeada ou wifi, corporativa ou doméstiica. Como possuimos os serviços de segurança, nossos profissionais são perfeitos em conciliar desempenho e segurança. Também vendemos produtos de rede sob consulta, roteadores, switches, antenas, cabos e conectores.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                        <span class="rotate-box-icon"><i class="fa fa-server"></i></span>
                        <div class="rotate-box-info">
                            <h4>Servidores</h4>
                            <p>Que tal configurar um servidor web, compartilhamento de arquivos, ou de impressão? Trabalhamos com várias distribuições do Linux <i class="fa fa-linux"></i> para auxiliar nas tarefas diárias, ou para garantir a segurança.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                        <span class="rotate-box-icon"><i class="fa fa-user-secret"></i></span>
                        <div class="rotate-box-info">
                            <h4>Câmeras e alarmes de segurança</h4>
                            <p>Proteja as instalações do seu comércio ou da sua casa. Instalamos câmeras de segurança, alarmes e cercas elétricas, não espere pelo pior, todos os dias os noticiários divulgam o aumento da criminalidade portanto agende hoje um visita para um orçamento.</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                        <span class="rotate-box-icon"><i class="fa fa-phone-square"></i></span>
                        <div class="rotate-box-info">
                            <h4>Centrais Telefônicas</h4>
                            <p>Um dos maiores aliados de uma empresa, sem dúvida é o telefone, por ele boa parte dos negócios se concretizam. Instalamos e oferecemos suporte as principais centrais telefônicas.</p>
                        </div>
                    </a>
                </div>
                
            </div> <!-- /.row -->
        </div> <!-- /.container -->


        
        <div class="container">
            <!-- Cta Button -->
            <div class="extra-space-l"></div>
            <div class="text-center">
                <a class="btn btn-default btn-lg-xl" href="#/servicos" role="button">Confira os serviços de terceirização</a>
            </div>
        </div> <!-- /.container -->                       
    </div>
    <!-- End rotate-box-2 -->
</section>
<!-- End Services -->

                
    
<!-- Begin prices section -->
<section id="prices-section" class="page">

    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Preços</h2>
                <div class="devider"></div>
                <p class="subtitle">Hospedagem WEB</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <div class="extra-space-l"></div>

    
    <!-- Begin prices -->
    <div class="prices">
        <div class="container">
            <div class="row">
                
                <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.3s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-plug fa-2x"></i>
                            <h3>Básico</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>R$10</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <h5><li class="fa fa-globe"></li><b> Domínio</b><li class="fa fa-check list-group-item"></li>
                            <p></h5>
                            <h5><li class="fa fa-envelope"></li><b> Serviços de email</b><li class="fa fa-times list-group-item"></li>
                            </p><p></h5>
                            <h5><li class="fa fa-database"></li><b> Backup</b><li class="fa fa-times list-group-item"></li>
                            </p><p></h5>
                            <h5><li class="fa fa-support"></li><b> Suporte 24/7</b><li class="fa fa-times list-group-item"></li>
                            </p></h5>
                        </ul>
                        <div class="panel-footer text-center">
                            <a class="btn btn-default" ng-click="contratar()">Contratar!</a>
                        </div>
                    </div>                                      
                </div>

                <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.5s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-plug fa-2x"></i>
                            <h3>Médio</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>R$40</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <h5><li class="fa fa-globe"></li><b> Domínio</b><li class="fa fa-check list-group-item"></li>
                            <p></h5>
                            <h5><li class="fa fa-envelope"></li><b> Serviços de email</b><li class="fa fa-check list-group-item"></li>
                            </p><p></h5>
                            <h5><li class="fa fa-database"></li><b> Backup</b><li class="fa fa-times list-group-item"></li>
                            </p><p></h5>
                            <h5><li class="fa fa-support"></li><b> Suporte 24/7</b><li class="fa fa-times list-group-item"></li>
                            </p></h5>
                        </ul>
                        <div class="panel-footer text-center">
                            <a class="btn btn-default" ng-click="contratar()">Contratar!</a>
                        </div>
                    </div>                                      
                </div>
                
                <div class="price-box col-sm-6 price-box-featured col-md-3 wow flipInY" data-wow-delay="0.7s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-plug fa-2x"></i>
                            <h3>Avançado</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>R$100</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <h5><li class="fa fa-globe"></li><b> Domínio</b><li class="fa fa-check list-group-item"></li>
                            <p></h5>
                            <h5><li class="fa fa-envelope"></li><b> Serviços de email</b><li class="fa fa-check list-group-item"></li>
                            </p><p></h5>
                            <h5><li class="fa fa-database"></li><b> Backup</b><li class="fa fa-check list-group-item"></li>
                            </p><p></h5>
                            <h5><li class="fa fa-support"></li><b> Suporte 24/7</b><li class="fa fa-times list-group-item"></li>
                            </p></h5>
                        </ul>
                        <div class="panel-footer text-center">
                            <a class="btn btn-default" ng-click="contratar()">Contratar!</a>
                        </div>
                    </div>                              
                </div>
                
                <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.9s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-plug fa-2x"></i>
                            <h3>Profissional</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>R$150</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <h5><li class="fa fa-globe"></li><b> Domínio</b><li class="fa fa-check list-group-item"></li>
                            <p></h5>
                            <h5><li class="fa fa-envelope"></li><b> Serviços de email</b><li class="fa fa-check list-group-item"></li>
                            </p><p></h5>
                            <h5><li class="fa fa-database"></li><b> Backup</b><li class="fa fa-check list-group-item"></li>
                            </p><p></h5>
                            <h5><li class="fa fa-support"></li><b> Suporte 24/7</b><li class="fa fa-check list-group-item"></li>
                            </p></h5>
                        </ul>
                        <div class="panel-footer text-center">
                            <a class="btn btn-default" ng-click="contratar()">Contratar!</a>
                        </div>
                    </div>                                      
                </div>
                
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>
    <!-- End prices -->
    <div class="extra-space-l"></div>
</section>
<!-- End prices section -->
    
<!-- Begin contact section -->
	<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);">
	<div class="cover"></div>
	
	     <!-- Begin page header-->
	     <div class="page-header-wrapper" ng-show='emailEnviado'>
			<div class="container">
			    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
			        <h2>Recebemos sua solicitação, aguarde nosso contato.</h2>
			        <div class="devider"></div>
			        <p class="subtitle">Obrigado.</p>
			    </div>
			</div>
	    </div>
	    <div class="page-header-wrapper" ng-hide='emailEnviado'>
	        <div class="container">
	            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
	                <h2>Tire suas dúvidas</h2>
	                <div class="devider"></div>
	                <p class="subtitle">ou que tal solicitar um orçamento?</p>
	            </div>
	        </div>
	    </div>
	    <!-- End page header-->
	    
	    <div id="conteudoMensagem" class="contact wow bounceInRight" data-wow-delay="0.4s"  ng-hide='solucoes.emailEnviado'>
	        <div class="container">
	            <div class="row">
	            <div class="col-sm-3"></div>
             		<div class="col-sm-6">
	                    <div class="contact-form">
	                        <h4>Preencha os campos</h4>
	                        <form role="form" ng-submit="	solucoes.enviarEmail()">
	                            <div class="form-group">
	                            	<h5> Nome :</h5> 
	                                <input type="text" class="form-control input-lg" required ng-model="solucoes.nome">
	                            </div>
	                            <div class="form-group">
	                                <h5> Email :</h5>
	                                <input type="email" class="form-control input-lg" data-title="Select Time" required ng-model="solucoes.email">
	                            </div>
	                            <div class="form-group">
	                            <h5> Assunto :</h5>
	                            <select id="inTopicoOcr" class="form-control input-lg" label="Assunto" required ng-model="solucoes.assunto">
									<option value="" class="text-center"><a>Selecione</a></option>
									<option value="suporte" class="text-center"><a>Suporte Técnico</a></option>
									<option value="desenvolvimento" class="text-center">Desenvolvimento WEB</option>
									<option value="hospedagem" class="text-center">Hospedagem WEB</option>
									<option value="seguranca" class="text-center">Segurança</option>
									<option value="redes" class="text-center">Redes de computadores</option>
									<option value="servidores" class="text-center">Servidores</option>
									<option value="cftv" class="text-center">Câmeras e alarmes de segurança</option>
									<option value="telefones" class="text-center">Centrais Telefônicas</option>
									<option value="outros" class="text-center">Outros</option>
								</select>
								</div>
	                            <div class="form-group">
	                            	<h5> Mensagem :</h5>
	                                <textarea class="form-control input-lg" rows="5" required ng-model="solucoes.mensagem"></textarea>
	                            </div>
	                            <div>
	                     	 		<div vc-recaptcha data-theme="dark" key="solucoes.publicKey"></div>
	                         	</div>
	                            <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Enviar</button>
	                        </form>
	                    </div>  
	                </div>
	            <div class="col-sm-3"></div>                                                        
	            </div> <!-- /.row -->
	        </div> <!-- /.container -->
	    </div>
	</section>
</div>
<!-- End contact section -->
             
<!-- Begin footer -->
<footer class="text-off-white">
    
    <div class="footer">
        <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
            <p class="copyright">Todos os direitos reservados. &copy; 2016 - Desenvolvido por <a  class="theme-author">HK Serviços Terceirizados</a></p>
        </div>
    </div>

</footer>
<!-- End footer -->

<a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
                                      
</div><!-- body ends -->